<!-- Start Hero Section -->
<div class="hero" style="padding:1rem">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Reset Password</h1>
                </div>
            </div>
            <div class="col-lg-7">
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->
<div class="untree_co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center pt-5">
                <h2 class="display-3 text-black">Confirmation</h2>
                <p class="lead mb-5">Your password has been reset successfully.</p>
                <p><a asp-controller="Account" asp-action="Login" class="btn btn-sm btn-outline-black">Back to Login</a></p>
            </div>
        </div>
    </div>
</div>