<!-- Start Hero Section -->
<div class="hero" style="padding:1rem">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Shop</h1>
                </div>
            </div>
            <div class="col-lg-7">
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->
<div class="untree_co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center pt-5">
                <h2 class="display-3 text-black">Oh No!</h2>
                <p class="lead mb-5">The product you are looking for does not exist.</p>
                <p><a asp-controller="Shop" asp-action="Index" class="btn btn-sm btn-outline-black">Back to Shop</a></p>
            </div>
        </div>
    </div>
</div>